venv/
__pycache__

builds*
/crash_reports
last_run
/old*
/plots
test.py
test.py
*.pdf
keras_tuner_dir/
/analysis_results
/data
/final_results
/hw/hara_sbcci2025
/oracle/analysis_results
/oracle/final_results
/oracle/results
/oracle/retrieval/results
/oracle/retrieval/results_old
/results
*.pkl
/exhaustive_hw_builds
/fps_campaign_results
/minhas_configs_mnist
